<% title "Edit Product Attribute" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", product_product_attribute_path(@product,@product_attribute) %> |
  <%= link_to "View All", product_product_attributes_path(@product) %>
</p>
